API_ID=17189942
API_HASH=99a0f64c85d8c36e584b41c1089f007a
BOT_TOKEN=5402763390:AAFZP2o40_YExZh1iAEttT2EiNPtxtx1CjQ
SESSION_STRING=BQEGTDYAcmJqBrs7yniDuChtiyHQK-disB8eNvLWxEbt6wp_Cp8cls6Oxk8x_gkk-2QpTWz5sMTJqP2CmrgV9aw8E0XWpQjcmMY9MFAumT2oZ9yqXExPPl28AI3U27nOYKdkx1Y25w8FLKWo48sc7hI8zahsdgeVQStkxEIzxeAXEWht8gHr4zNC28aqKD-_pXVS1Cf7oKYzb-Vi_IBDq2GDXWzzXcgPLgGQZR_r_2Ik97fuN6hXUfeQcc8gW3s8yvL81gu7rZd5464o2XHjYi5MyEHlhp97hrQ-1gaOOVAnP_RXR0-eZEB_UQD3cWjcedsMpzdGzwtEO5vOSkNJ3IL8303gHAAAAAFXjVPyAA
CHAT=-1001740701212
ADMINS=5763847154
DATABASE_URI=mongodb+srv://doabandar:doabanda@cluster0.2p8pnki.mongodb.net/?retryWrites=true&w=majority
IS_LOOP=True
