API_ID=17189942
API_HASH=99a0f64c85d8c36e584b41c1089f007a
BOT_TOKEN=5402763390:AAFZP2o40_YExZh1iAEttT2EiNPtxtx1CjQ
SESSION_STRING=BQCnzjutc-f3jTPCyFwgdC3kU_xNsRw17b73SdUBDO3ux-dKtO5ipsrLHVMCt4iJjMFg72z-ZGTcYa2KxCfFHznFvjDlP_VLHWVDA_EgnXCPAha04oo3DAVzUdGcNxamM4VBQRY3gUVFbARhzX8su0E-yMIKVhGBDWchFtdVXcxPq2M52_JKLLsEmAJwPSb59KnBDSfYLIJ_ipWN6zFp3hC9jX0WpQMcQpm-8bxCKlRbMg4BN6yIiT6jGGgry7Cv7EeejKnfb3AKVU6vDpR5LRc1WUkvsMXA6XPUnGH6oKCFnOqJBwUB_M6ospg9Fp-yAoMY_332QO2hTMIG7ZnLjF7CAAAAAVeNU_IA
CHAT=-1001740701212
ADMINS=5763847154
DATABASE_URI=mongodb+srv://doabandar:doabanda@cluster0.2p8pnki.mongodb.net/?retryWrites=true&w=majority
IS_LOOP=True
