API_ID=12050714
API_HASH=08f1a315f287b51656a25e99966ac0e7
BOT_TOKEN=5665918097:AAGbqoWwHKnvaAX8BXHPgGd77Nksn8TiPEk
SESSION_STRING=BQBabjI13Mhm6BSzVcoYKqY4Ac1VRQ6GDaJlhjIPFJa6P6rg8c2ZX0RWgvuK8O_UjR0GkH2qYNDxJZLHzcdrhuGudIqjn2APUnWWqmAYYuT14SZr0cDyPZ9tpg4BGVHi_YOSxml8lZin7Y0IpaRxDG44JtNMnTnEp9EhRcXkyJc31z_qgf57q5t66Wt5L65M4j_pUd0BdWbxSnyQom-vHlhZ3J7JNYMvx8sIn7xPpeMxj2vzIYVqq8IL1jwwDsaKH_nV-mxcbB_K8Vt_PQJPZv8Hgg9JG54er4cBdV4cTrwPw-ovvo3fn_PDxPK3iocjUX8OCI-orajstphO8iYoPVvnAAAAAVgxB9QA
CHAT=-1001740701212
ADMINS=5774575572
DATABASE_URI=mongodb+srv://doabandar:doabanda@cluster0.2p8pnki.mongodb.net/?retryWrites=true&w=majority
